.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
label[for="image"] {
  width: 30px;
  height: 30px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.input > input {
  width: 80%;
}
.input > label::after,
figcaption::after {
  content: "*";
  color: red;
}
.imggg {
  width: 100px;
  height: 100px;
  aspect-ratio: 150/150;
  object-fit: contain;
  border-radius: 15px;
}
